minimum_pre_commit_version: "3.5.0"

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check --fix
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
